input{
    padding: 10px;
    margin: 1rem;
    width: 80%;
    font-size:large;
    outline: none;
    background-color: white;
    border: 1px solid black;

}

.Square{
    height: 8rem;
    width: 8rem;
    border: 1px solid black;
    margin: 1rem;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(24,15,194,1) 100%);

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.578);
}

.round{
    border-radius: 50%;
}

.mainDiv{
    display: flex;
}